{% extends 'base.htm' %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>About</title>
    <link rel="stylesheet" href="{% static 'about/style.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="section1">
        <img
          src="{% static 'about/imgs/hero.jpg' %}"
          alt="Hero Image"
          class="s1-hero"
        />

        <div class="spacer"></div>

        <div class="s1-main-content">
          <div class="s1-title">
            About <span class="s1-title-bold">Varber's</span>
          </div>

          <div class="breadcrumbs-holder">
            <span class="breadcrumb"
              ><a href="{% url 'home' %}"> <p class="bc1">Home</p></a>
              <p class="bc2">></p>
              <a href="{% url 'about' %}"><p class="bc3">About</p></a>
            </span>
          </div>
        </div>
      </div>

      <div class="section2">
        <div class="s2-container">
          <h2 class="s2-sub-title">Clean Cuts</h2>
          <h1 class="s2-title">
            Finding You Incredible Cuts</span>
          </h1>

          <p class="s2-par1">
            congue quisque egestas diam in arcu cursus euismod quis viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat sed cras ornare arcu dui vivamus arcu felis bibendum
          </p>

          <button class="s2-btn orange-btn">Learn More</button>
        </div>
        <img
          src="{% static 'about/imgs/about.jpg' %}"
          alt="hero 2"
          class="s2-cover"
        />
      </div>

      <hr class="section-seperator">

      <div class="section3">
        <div class="s3-group">
          <img src="{% static 'about/imgs/near.svg' %}" alt="near" class="s3-icon">

          <div class="s3-group-info">
            <h3 class="s3-title">Near You</h3>

            <p class="s3-title-par">tempus iaculis urna id volutpat lacus laoreet non
            </p>
          </div>
        </div>

        <div class="s3-group">
          <img src="{% static 'about/imgs/tool.svg' %}" alt="tool" class="s3-icon">

          <div class="s3-group-info">
            <h3 class="s3-title">Specialized Tools</h3>

            <p class="s3-title-par">tempus iaculis urna id volutpat lacus laoreet non
            </p>
          </div>
        </div>

        <div class="s3-group">
          <img src="{% static 'about/imgs/speed.svg' %}" alt="Speed" class="s3-icon">

          <div class="s3-group-info">
            <h3 class="s3-title">Fast Service</h3>

            <p class="s3-title-par">tempus iaculis urna id volutpat lacus laoreet non
            </p>
          </div>
        </div>
      </div>

      <div class="section4">
        <div class="s4-info">
          <h2 class="s4-title">Our Team</h2>
          <p class="s4-par">tempus iaculis urna id volutpat lacus laoreet non
          </p>
        </div>

        <div class="s4-faces">
          <img src="{% static 'about/imgs/t1_bigger.jpg' %}" alt="crew" class="s4-crew">
          <img src="{% static 'about/imgs/t2_bigger.jpg' %}" alt="crew" class="s4-crew">
          <img src="{% static 'about/imgs/t3_bigger.jpg' %}" alt="crew" class="s4-crew">
        </div>
      </div>

      <div class="section6">
        <div class="s6-left">
          <h4 class="s6-sub">Get In Touch</h4>
          <h2 class="s6-title">Contact Us</h2>

          <div class="address s6-box">
            <img
              src="{% static 'home/imgs/location.svg' %}"
              alt="Address"
              class="address-img"
            />

            <div class="address-info s6-info">
              <h3 class="address-title">ADDRESS</h3>
              <p class="address-par">8273 NW 56th ST Miami, 33195 US</p>
            </div>
          </div>

          <div class="phone s6-box">
            <img
              src="{% static 'home/imgs/phone.svg' %}"
              alt="Phone"
              class="phone-img"
            />

            <div class="phone-info s6-info">
              <h3 class="phone-title">OFFICE PHONE</h3>
              <p class="phone-par">+ 0511 01220 3320</p>
            </div>
          </div>

          <div class="email s6-box">
            <img
              src="{% static 'home/imgs/email.svg' %}"
              alt="Email"
              class="email-img"
            />

            <div class="email-info s6-info">
              <h3 class="email-title">EMAIL</h3>
              <p class="email-par">info@agrom.com</p>
            </div>
          </div>
        </div>

        <div class="s6-center">
          <img
            src="{% static 'base/imgs/logo.png' %}"
            alt="Logo"
            class="s6-logo"
          />

          <p class="s6c-par1">
            Images from FreePik, Kiranshastry and Fontawesome
          </p>

          <p class="s6c-par2">Copyright 2020 Varber’s</p>
        </div>

        <div class="s6-right">
          <form method="POST">
            {% csrf_token %}
            {{ form }}
            <!-- <input type="text" class="s6-name" placeholder="Name" required />
            <input
              type="text"
              class="s6-email"
              placeholder="Email Address"
              required
            />

            <textarea
              name="message"
              id="message"
              cols="30"
              rows="10"
              placeholder="Your Message"
              class="s6-message"
            ></textarea> -->

            <button type="submit" class="s6-btn blue-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static 'home/app.js' %}"></script>
    {% endblock %}
  </body>
</html>
