{% extends 'base.htm' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="section1">
        <img
          src="{% static 'home/imgs/barber.jpg' %}"
          alt="Hero Image"
          class="s1-hero"
        />

        <div class="spacer"></div>

        <div class="s1-main-content">
          <div class="s1-top">
            <img
              src="{% static 'home/imgs/arr_left.svg' %}"
              alt="Arrow"
              class="left-arrow arrow"
            />

            <h1 class="s1-title">
              id consectetur purus ut
              <span class="s1-title-bold">faucibus pulvinar</span>
            </h1>

            <img
              src="{% static 'home/imgs/arr_right.svg' %}"
              alt="Arrow"
              class="right-arrow arrow"
            />
          </div>

          <div class="s1-bottom">
            <p class="s1-par">
              lorem ipsum dolor sit amet consectetur adipiscing elit
              pellentesque habitant morbi tristique
            </p>
          </div>
        </div>

        <div class="progress-bar">
          <div class="bar1 bar"></div>
          <div class="bar2 bar"></div>
          <div class="bar3 bar"></div>
        </div>
      </div>

      <div class="section2">
        <div class="section2-grid">
          <div class="s2-grid-1 s2-grid">
            <img
              src="{% static 'home/imgs/scissor.svg' %}"
              alt="scissor"
              class="s2-grid-img"
            />

            <h3 class="s2-grid-title">Professionals</h3>

            <p class="s2-grid-par">
              dolor purus non enim praesent elementum facilisis leo vel
              fringilla est ullamcorper eget nulla facilisi etiam
            </p>
          </div>

          <div class="s2-grid-2 s2-grid">
            <img
              src="{% static 'home/imgs/professional.jpg' %}"
              alt=""
              class="s2-grid-img-cover"
            />
          </div>

          <div class="s2-grid-1 s2-grid">
            <img
              src="{% static 'home/imgs/price_tag.svg' %}"
              alt="scissor"
              class="s2-grid-img"
            />

            <h3 class="s2-grid-title">Affortable Price</h3>

            <p class="s2-grid-par">
              dolor purus non enim praesent elementum facilisis leo vel
              fringilla est ullamcorper eget nulla facilisi etiam
            </p>
          </div>

          <div class="s2-grid-2 s2-grid">
            <img
              src="{% static 'home/imgs/price.jpg' %}"
              alt=""
              class="s2-grid-img-cover"
            />
          </div>

          <div class="s2-grid-1 s2-grid">
            <img
              src="{% static 'home/imgs/cert.svg' %}"
              alt="scissor"
              class="s2-grid-img"
            />

            <h3 class="s2-grid-title">Certified</h3>

            <p class="s2-grid-par">
              dolor purus non enim praesent elementum facilisis leo vel
              fringilla est ullamcorper eget nulla facilisi etiam
            </p>
          </div>

          <div class="s2-grid-2 s2-grid">
            <img
              src="{% static 'home/imgs/certified.jpg' %}"
              alt=""
              class="s2-grid-img-cover"
            />
          </div>
        </div>
      </div>

      <div class="section3">
        <div class="s3-container">
          <div class="s3-grid">
            <img
              src="{% static 'home/imgs/time.svg' %}"
              alt="Clock"
              class="s3-icon"
            />

            <h2 class="s3-title">Fast Appointment</h2>

            <p class="s3-par">
              mattis molestie a iaculis at erat pellentesque adipiscing commodo
              elit at
            </p>
          </div>

          <div class="s3-grid">
            <img
              src="{% static 'home/imgs/function.svg' %}"
              alt="Clock"
              class="s3-icon"
            />

            <h2 class="s3-title">Reliable Barbers</h2>

            <p class="s3-par">
              mattis molestie a iaculis at erat pellentesque adipiscing commodo
              elit at
            </p>
          </div>

          <div class="s3-grid">
            <img
              src="{% static 'home/imgs/famous.svg' %}"
              alt="Clock"
              class="s3-icon"
            />

            <h2 class="s3-title">More Relevant</h2>

            <p class="s3-par">
              mattis molestie a iaculis at erat pellentesque adipiscing commodo
              elit at
            </p>
          </div>

          <div class="s3-grid">
            <img
              src="{% static 'home/imgs/growth.svg' %}"
              alt="Clock"
              class="s3-icon"
            />

            <h2 class="s3-title">Business Growth</h2>

            <p class="s3-par">
              mattis molestie a iaculis at erat pellentesque adipiscing commodo
              elit at
            </p>
          </div>

          <div class="s3-grid">
            <img
              src="{% static 'home/imgs/famous.svg' %}"
              alt="Clock"
              class="s3-icon"
            />

            <h2 class="s3-title">More Credibility</h2>

            <p class="s3-par">
              mattis molestie a iaculis at erat pellentesque adipiscing commodo
              elit at
            </p>
          </div>

          <div class="s3-grid">
            <img
              src="{% static 'home/imgs/pro.svg' %}"
              alt="Clock"
              class="s3-icon"
            />

            <h2 class="s3-title">Professional</h2>

            <p class="s3-par">
              mattis molestie a iaculis at erat pellentesque adipiscing commodo
              elit at
            </p>
          </div>
        </div>
      </div>

      <div class="section4">
        <div class="s4-container">
          <h1 class="s4-title">
            Is This For <span class="s4-title-span">You?</span>
          </h1>

          <p class="s4-par1">
            nunc congue nisi vitae suscipit tellus mauris a diam maecenas sed
            enim ut sem viverra aliquet
          </p>

          <p class="s4-par2">
            ornare massa eget egestas purus viverra accumsan in nisl nisi
            scelerisque eu ultrices
          </p>

          <button class="s4-btn">Learn More</button>
        </div>
        <img
          src="{% static 'home/imgs/scissors_on_wall.jpg' %}"
          alt="Scissors"
          class="s4-cover"
        />
      </div>

      <div class="section5">
        <div class="section5-container">
          <div class="s5-box">
            <h2 class="s5-title">It Was Easy And Quick To Use</h2>
            <p class="s5-par">
              sed viverra tellus in hac habitasse platea dictumst vestibulum
              rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt
            </p>

            <hr class="s5-line" />

            <div class="s5-author">
              <img
                src="{% static 'home/imgs/face1.jpg' %}"
                alt="testimonial"
                class="s5-author-img"
              />

              <div class="s5-author-info">
                <h3 class="s5-name">Robert Kyle</h3>
                <p class="s5-date">January 13, 2019</p>
              </div>
            </div>
          </div>

          <div class="s5-box">
            <h2 class="s5-title">It Was Easy And Quick To Use</h2>
            <p class="s5-par">
              sed viverra tellus in hac habitasse platea dictumst vestibulum
              rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt
            </p>

            <hr class="s5-line" />

            <div class="s5-author">
              <img
                src="{% static 'home/imgs/face1.jpg' %}"
                alt="testimonial"
                class="s5-author-img"
              />

              <div class="s5-author-info">
                <h3 class="s5-name">Robert Kyle</h3>
                <p class="s5-date">January 13, 2019</p>
              </div>
            </div>
          </div>

          <div class="s5-box">
            <h2 class="s5-title">It Was Easy And Quick To Use</h2>
            <p class="s5-par">
              sed viverra tellus in hac habitasse platea dictumst vestibulum
              rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt
            </p>

            <hr class="s5-line" />

            <div class="s5-author">
              <img
                src="{% static 'home/imgs/face1.jpg' %}"
                alt="testimonial"
                class="s5-author-img"
              />

              <div class="s5-author-info">
                <h3 class="s5-name">Robert Kyle</h3>
                <p class="s5-date">January 13, 2019</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section6">
        <div class="s6-left">
          <h4 class="s6-sub">Get In Touch</h4>
          <h2 class="s6-title">Contact Us</h2>

          <div class="address s6-box">
            <img
              src="{% static 'home/imgs/location.svg' %}"
              alt="Address"
              class="address-img"
            />

            <div class="address-info s6-info">
              <h3 class="address-title">ADDRESS</h3>
              <p class="address-par">8273 NW 56th ST Miami, 33195 US</p>
            </div>
          </div>

          <div class="phone s6-box">
            <img
              src="{% static 'home/imgs/phone.svg' %}"
              alt="Phone"
              class="phone-img"
            />

            <div class="phone-info s6-info">
              <h3 class="phone-title">OFFICE PHONE</h3>
              <p class="phone-par">+ 0511 01220 3320</p>
            </div>
          </div>

          <div class="email s6-box">
            <img
              src="{% static 'home/imgs/email.svg' %}"
              alt="Email"
              class="email-img"
            />

            <div class="email-info s6-info">
              <h3 class="email-title">EMAIL</h3>
              <p class="email-par">info@agrom.com</p>
            </div>
          </div>
        </div>

        <div class="s6-center">
          <img
            src="{% static 'base/imgs/logo.png' %}"
            alt="Logo"
            class="s6-logo"
          />

          <p class="s6c-par1">
            Images from FreePik, Kiranshastry and Fontawesome
          </p>

          <p class="s6c-par2">Copyright 2020 Varber’s</p>
        </div>

        <div class="s6-right">
          <form action="">
            <input type="text" class="s6-name" placeholder="Name" required />
            <input
              type="text"
              class="s6-email"
              placeholder="Email Address"
              required
            />

            <textarea
              name="message"
              id="message"
              cols="30"
              rows="10"
              placeholder="Your Message"
              class="s6-message"
            ></textarea>

            <button type="submit" class="s6-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
