{% extends 'base.htm' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="section1">
        <img
          src="{% static 'home/imgs/barber.jpg' %}"
          alt="Hero Image"
          class="s1-hero"
        />

        <div class="spacer"></div>

        <div class="s1-main-content">
          <div class="s1-top">
            <img
              src="{% static 'home/imgs/arr_left.svg' %}"
              alt="Arrow"
              class="left-arrow arrow"
            />

            <h1 class="s1-title">
              id consectetur purus ut
              <span class="s1-title-bold">faucibus pulvinar</span>
            </h1>

            <img
              src="{% static 'home/imgs/arr_right.svg' %}"
              alt="Arrow"
              class="right-arrow arrow"
            />
          </div>

          <div class="s1-bottom">
            <p class="s1-par">
              lorem ipsum dolor sit amet consectetur adipiscing elit
              pellentesque habitant morbi tristique
            </p>
          </div>
        </div>

        <div class="progress-bar">
          <div class="bar1 bar"></div>
          <div class="bar2 bar"></div>
          <div class="bar3 bar"></div>
        </div>
      </div>

      <div class="section2">
        <div class="section2-grid">
          <div class="s2-grid-1 s2-grid">
            <img
              src="{% static 'home/imgs/scissor.svg' %}"
              alt="scissor"
              class="s2-grid-img"
            />

            <h3 class="s2-grid-title">Professionals</h3>

            <p class="s2-grid-par">
              dolor purus non enim praesent elementum facilisis leo vel
              fringilla est ullamcorper eget nulla facilisi etiam
            </p>
          </div>

          <div class="s2-grid-2 s2-grid">
            <img
              src="{% static 'home/imgs/professional.jpg' %}"
              alt=""
              class="s2-grid-img-cover"
            />
          </div>

          <div class="s2-grid-1 s2-grid">
            <img
              src="{% static 'home/imgs/price_tag.svg' %}"
              alt="scissor"
              class="s2-grid-img"
            />

            <h3 class="s2-grid-title">Affortable Price</h3>

            <p class="s2-grid-par">
              dolor purus non enim praesent elementum facilisis leo vel
              fringilla est ullamcorper eget nulla facilisi etiam
            </p>
          </div>

          <div class="s2-grid-2 s2-grid">
            <img
              src="{% static 'home/imgs/price.jpg' %}"
              alt=""
              class="s2-grid-img-cover"
            />
          </div>

          <div class="s2-grid-1 s2-grid">
            <img
              src="{% static 'home/imgs/cert.svg' %}"
              alt="scissor"
              class="s2-grid-img"
            />

            <h3 class="s2-grid-title">Certified</h3>

            <p class="s2-grid-par">
              dolor purus non enim praesent elementum facilisis leo vel
              fringilla est ullamcorper eget nulla facilisi etiam
            </p>
          </div>

          <div class="s2-grid-2 s2-grid">
            <img
              src="{% static 'home/imgs/certified.jpg' %}"
              alt=""
              class="s2-grid-img-cover"
            />
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
