{% extends 'base.htm' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>Service</title>
    <link rel="stylesheet" href="{% static 'service/style.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="section1">
        <img
          src="{% static 'service/imgs/hero.jpg' %}"
          alt="Hero Image"
          class="s1-hero"
        />

        <div class="spacer"></div>

        <div class="s1-main-content">
          <div class="s1-title">
            About <span class="s1-title-bold">Varber's</span>
          </div>

          <div class="breadcrumbs-holder">
            <span class="breadcrumb"
              ><a href="{% url 'home' %}"> <p class="bc1">Home</p></a>
              <p class="bc2">></p>
              <a href="{% url 'service' %}"><p class="bc3">Service</p></a>
            </span>
          </div>
        </div>
      </div>

      <div class="section2">
        <div class="s2-container">
          <h2 class="s2-sub-title">Clean Cuts</h2>
          <h1 class="s2-title">
            Finding You Incredible Cuts</span>
          </h1>

          <p class="s2-par1">
            congue quisque egestas diam in arcu cursus euismod quis viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat sed cras ornare arcu dui vivamus arcu felis bibendum
          </p>

          <button class="s2-btn orange-btn">Learn More</button>
        </div>
        <img
          src="{% static 'service/imgs/user.jpg' %}"
          alt="hero 2"
          class="s2-cover"
        />
      </div>

      <div class="section3">
        <div class="s3-info">
          <h3 class="s3-number">1754</h3>
          <p class="s3-title">Barbers Available</p>
        </div>

        <div class="s3-info">
          <h3 class="s3-number">8733</h3>
          <p class="s3-title">Happy Customers</p>
        </div>

        <div class="s3-info">
          <h3 class="s3-number">4</h3>
          <p class="s3-title">Years Of Experience</p>
        </div>
      </div>
    </div>

    <div class="section4">
      <div class="s4-container">
        <h2 class="s4-sub-title">Clean Cuts</h2>
        <h1 class="s4-title">
          Finding You Incredible Cuts</span>
        </h1>

        <p class="s4-par1">
          congue quisque egestas diam in arcu cursus euismod quis viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat sed cras ornare arcu dui vivamus arcu felis bibendum
        </p>

        <button class="s4-btn orange-btn">Learn More</button>
      </div>
      <img
        src="{% static 'service/imgs/business.png' %}"
        alt="hero 2"
        class="s4-cover"
      />
    </div>
    <script src="{% static 'service/app.js' %}"></script>
    {% endblock %}
  </body>
</html>
