.search {
  width: 335px;
  height: 45px;
  margin: 0 auto;
  margin-top: 40px;
  border: solid 3px #000;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  height: 40px;
  width: 90%;
  border: none;
  padding-left: 20px;
  font-size: 24px;
}

.s2-box {
  width: 90%;
  height: 223px;
  margin: 0 auto;
  border: 2px solid #b8afaf;
  margin-top: 30px;
}

.s2-img {
  object-fit: cover;
  width: 125px;
  height: 84px;
}

.s2-top {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.s2-par {
  margin-top: 40px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 7px;
  width: 100px;
}

.s2-mid {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.s2-btn {
  width: 125px;
  height: 35px;
  margin-right: 25px;
  margin-top: 60px;
  background: none;
  border: 1px solid #ff793f;
  color: #ff793f;
  font-size: 14px;
}

/* .search {
  width: 375px;
  margin: 0 auto;
  margin-top: 40px;
  height: 50px;
  border: solid 3px #000;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  height: 44px;
  width: 90%;
  border: none;
}

.mag {
} */
