{% extends 'db_base.htm' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="section1">
        <div class="search">
          <input type="text" class="search-bar" placeholder="Search Location" />
          <img
            src="{% static 'dashboard/imgs/mag.svg' %}"
            alt="Mag"
            class="mag"
          />
        </div>
      </div>

      <div class="section2">
        <div class="s2-box">
          <div class="s2-top">
            <img
              src="{% static 'dashboard/imgs/barber.jpg' %}"
              alt="barber"
              class="s2-img"
            />

            <div class="s2-info">
              <h3 class="s2-title">BARBER NAME</h3>

              <p class="s2-par">BARBER ADDRESS</p>
            </div>
          </div>

          <div class="s2-mid">
            <div>
              <div class="views stats">
                <img
                  src="{% static 'dashboard/imgs/view.svg' %}"
                  alt="views"
                  class="view-img"
                />

                <p>32,000</p>
              </div>
              <div class="star stats">
                <img
                  src="{% static 'dashboard/imgs/star.svg' %}"
                  alt="stars"
                  class="star-img"
                />

                <p>4.5</p>
              </div>
              <div class="comment stats">
                <img
                  src="{% static 'dashboard/imgs/comment.svg' %}"
                  alt="comments"
                  class="comment-img"
                />

                <p>25</p>
              </div>
            </div>

            <button class="s2-btn">View</button>
          </div>
        </div>

        <div class="s2-box">
          <div class="s2-top">
            <img
              src="{% static 'dashboard/imgs/barber.jpg' %}"
              alt="barber"
              class="s2-img"
            />

            <div class="s2-info">
              <h3 class="s2-title">BARBER NAME</h3>

              <p class="s2-par">BARBER ADDRESS</p>
            </div>
          </div>

          <div class="s2-mid">
            <div>
              <div class="views stats">
                <img
                  src="{% static 'dashboard/imgs/view.svg' %}"
                  alt="views"
                  class="view-img"
                />

                <p>32,000</p>
              </div>
              <div class="star stats">
                <img
                  src="{% static 'dashboard/imgs/star.svg' %}"
                  alt="stars"
                  class="star-img"
                />

                <p>4.5</p>
              </div>
              <div class="comment stats">
                <img
                  src="{% static 'dashboard/imgs/comment.svg' %}"
                  alt="comments"
                  class="comment-img"
                />

                <p>25</p>
              </div>
            </div>

            <button class="s2-btn">View</button>
          </div>
        </div>
      </div>

      <div class="section3">
        <div class="pagination">
          <div class="p1-box">
            <a href=""><h3><<</h3></a>
          </div>

          <div class="p1-box">
            <a href=""><h3><</h3></a>
          </div>

          <div class="p1-box">
            <a href=""><h3>1</h3></a>
          </div>

          <div class="p1-box">
            <a href=""><h3>2</h3></a>
          </div>

          <div class="p1-box">
            <a href=""><h3>3</h3></a>
          </div>

          <div class="p1-box">
            <a href=""><h3>></h3></a>
          </div>

          <div class="p1-box">
            <a href=""><h3>>></h3></a>
          </div>
        </div>
      </div>

      <div class="section6">
        <div class="s6-left">
          <h4 class="s6-sub">Get In Touch</h4>
          <h2 class="s6-title">Contact Us</h2>

          <div class="address s6-box">
            <img
              src="{% static 'home/imgs/location.svg' %}"
              alt="Address"
              class="address-img"
            />

            <div class="address-info s6-info">
              <h3 class="address-title">ADDRESS</h3>
              <p class="address-par">8273 NW 56th ST Miami, 33195 US</p>
            </div>
          </div>

          <div class="phone s6-box">
            <img
              src="{% static 'home/imgs/phone.svg' %}"
              alt="Phone"
              class="phone-img"
            />

            <div class="phone-info s6-info">
              <h3 class="phone-title">OFFICE PHONE</h3>
              <p class="phone-par">+ 0511 01220 3320</p>
            </div>
          </div>

          <div class="email s6-box">
            <img
              src="{% static 'home/imgs/email.svg' %}"
              alt="Email"
              class="email-img"
            />

            <div class="email-info s6-info">
              <h3 class="email-title">EMAIL</h3>
              <p class="email-par">info@agrom.com</p>
            </div>
          </div>
        </div>

        <div class="s6-center">
          <img
            src="{% static 'base/imgs/logo.png' %}"
            alt="Logo"
            class="s6-logo"
          />

          <p class="s6c-par1">
            Images from FreePik, Kiranshastry and Fontawesome
          </p>

          <p class="s6c-par2">Copyright 2020 Varber’s</p>
        </div>

        <div class="s6-right">
          <form method="POST">
            {% csrf_token %} {{ form }}
            <button type="submit" class="s6-btn blue-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
