{% extends 'base.htm' %} {% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'users/style.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="singup-form">
        <form method="POST">
          {% csrf_token %}

          <legend class="top-header">Join Today</legend>
          {{ form|crispy }}
          <button type="submit" class="btn">Sign Up</button>
        </form>

        <div class="login">
          <small>
            Already Have An Account? <a href="#" class="link">Sign In</a>
          </small>
        </div>
      </div>

      <div class="section6">
        <div class="s6-left">
          <h4 class="s6-sub">Get In Touch</h4>
          <h2 class="s6-title">Contact Us</h2>

          <div class="address s6-box">
            <img
              src="{% static 'home/imgs/location.svg' %}"
              alt="Address"
              class="address-img"
            />

            <div class="address-info s6-info">
              <h3 class="address-title">ADDRESS</h3>
              <p class="address-par">8273 NW 26th ST Miami, 33192 US</p>
            </div>
          </div>

          <div class="phone s6-box">
            <img
              src="{% static 'home/imgs/phone.svg' %}"
              alt="Phone"
              class="phone-img"
            />

            <div class="phone-info s6-info">
              <h3 class="phone-title">OFFICE PHONE</h3>
              <p class="phone-par">+ 0211 01220 3320</p>
            </div>
          </div>

          <div class="email s6-box">
            <img
              src="{% static 'home/imgs/email.svg' %}"
              alt="Email"
              class="email-img"
            />

            <div class="email-info s6-info">
              <h3 class="email-title">EMAIL</h3>
              <p class="email-par">info@agrom.com</p>
            </div>
          </div>
        </div>

        <div class="s6-center">
          <img
            src="{% static 'base/imgs/logo.png' %}"
            alt="Logo"
            class="s6-logo"
          />

          <p class="s6c-par1">
            Images from FreePik, Kiranshastry and Fontawesome
          </p>

          <p class="s6c-par2">Copyright 2020 Varber’s</p>
        </div>

        <div class="s6-right">
          <form method="POST">
            {% csrf_token %}
            <!-- <input type="text" class="s6-name" placeholder="Name" required />
            <input
              type="text"
              class="s6-email"
              placeholder="Email Address"
              required
            />

            <textarea
              name="message"
              id="message"
              cols="30"
              rows="10"
              placeholder="Your Message"
              class="s6-message"
            ></textarea> -->
            {{ contact }}

            <button type="submit" class="s6-btn blue-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
